.reveal .proofGrid {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: repeat(4,1fr);
}

.reveal .proofGrid img {
	max-height: 300px;
}

.reveal .proofCeiling {
	grid-area: 1 / 1 / 1 / 1;
}

.reveal .proofRight {
	grid-area: 2 / 4 / 2 / 4;
}

.reveal .proofNapo {
	grid-area: 2 / 3 / 2 / 3;
}

#playfairDiv {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	max-height: 70vh;
}

#enligDiv {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
}